h1 {
  font-size: clamp(5rem, 10vw, 9rem);
  margin: 0;
  z-index: 12;
  bottom: -53px;
  position: relative;
  left: 5px;
}

body {
  font-family: 'Manrope', 'Segoe UI', Roboto, Helvetica, sans-serif;
}

:root {
  --accent-green: #025e4c;
  --accent-green-light: #dcebe6;

  --accent-gold: #d8c64f;
  --accent-gold-light: #f3edd0;

  --shadow-soft: 0 10px 40px rgba(0, 0, 0, 0.06);
  --border-light: rgba(0, 0, 0, 0.06);

  --text-primary: #111111;
  --text-secondary: #4b4b4b;
  --text-muted: #7a7a7a;
}

.banner {
  background-color: var(--accent-gold);
  font-size: clamp(1rem, 10vw, 28px);
  padding: 5px;
  margin: 0 100px 0 0;

  clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
}

.grid {
  display: flex;
  flex-direction: column;
}

.intro {
  max-width: 700px;
  margin-top: 4rem;
  margin-left: 0.5rem;
}

.intro h2 {
  font-size: clamp(1.8rem, 3vw, 2.6rem);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.intro span {
  color: var(--accent-green);
}

.intro p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-secondary);
}

.tech-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tech-stack div {
  background: white;
  border: 1px solid var(--border-light);
  padding: 0.8rem 1.2rem;
  border-radius: 14px;
  box-shadow: var(--shadow-soft);

  font-size: 0.95rem;
  font-weight: 600;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 20px;
}

.project-card {
  display: grid;
  background: white;
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: var(--shadow-soft);
  border: 1px solid #cecece;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.project-info h3 {
  font-size: 3rem;
  margin: 5px 0px;
}

@media (min-width: 700px) {
  .banner {
    padding: 1px 100px;
    text-align: end;
  }

  .project-card {
    grid-template-columns: 1fr 1fr;
  }
}
